body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
main {
    padding: 1em;
}
img {
  max-height: 300px;
}
ul {
  list-style-type: none;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 65px;
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

header {
  padding: 1em;
  background: var(--bg-nav);
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 0%, 100% 65%, 50% 100%, 0% 65%, 0 0);
}
.dropdown {
  position: absolute;
  width: 500px;
  background: var(--bg-dropdown);
  border-top: var(--border-color);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;
  height: 3rem;
  padding: 0.5rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around;
  opacity: 0%;
  z-index: 2;
  transform: translateX(-40%);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
  transition: opacity 0.15s ease-out;
}

.dropdown-list:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item a::before {
  content: '  ';
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
#dark::before {
  background: #201d20;
}

#light::before {
  background: #e0ddcf;
}

#greenify::before {
  background: #5aef7c;
}
:root {
  --lightestGray: #e0ddcf;
  --lighterGray: #f1f0ea;
  --lightGray: #6b6169;
  --darkGray: #564e55;
  --darkerGray: #403a3f;
  --darkestGray: #201d20;
  --purple: #2d232e;
}

.light {
  --bg: var(--lightestGray);
  --bg-nav: linear-gradient(to right, var(--lighterGray), var(--lightGray));
  --bg-dropdown: var(--lightestGray);
  --text: var(--darkestGray);
  --border-color: var(--purple);
  --bg-negative: var(--pink);
}

.dark {
  --bg: var(--darkerGray);
  --bg-nav: linear-gradient(to right, var(--darkerGray), var(--darkestGray));
  --bg-dropdown: var(--darkerGray);
  --text: var(--lightestGray);
  --border-color: var(--purple);
  --bg-negative: var(--pink);
}

.greenify {
  --lightestGray: #54f2be;
  --lighterGray: #1beea8;
  --lightGray: #0dab76;
  --darkGray: #139a43;
  --darkerGray: #0b5d1e;
  --darkestGray: #053b06;
  --purple: #2d232e;
  --pink: #f84aa7;
}
.green-button {
  border-left: 1px solid var(--border-color);
  padding: 0.5rem;
}
